build
.idea
.ai
cmake-build-debug
duckdb_unittest_tempdir/
.DS_Store
testext
test/python/__pycache__/
.Rhistory
anofox-time/build
*.csv
*.pyc
*.zip
*.parquet
*.p
benchmark/src/__pycache__/
benchmark/src/benchmark.egg-info/
**/__pycache__/
**results/
AGENTS.md
